[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask-SocketIO = "*"
Flask-JWT = "*"
Flask-Bcrypt = "*"
gunicorn = "*"
fleaker = "*"
Flask-SQLAlchemy = "*"
inflect = "*"
stringcase = "*"
SQLAlchemy-Utils = "*"
Flask-Migrate = "*"
marshmallow-sqlalchemy = "*"
"psycopg2-binary" = "*"
flask-classful = "*"
flask-uuid = "*"
eventlet = "*"
redis = "*"
pygravatar = "*"

[dev-packages]
flask-shell-ipython = "*"
pylint = "*"
pytest = "*"
pytest-flask = "*"
faker = "*"
pdbpp = "*"
"flake8" = "*"
pytest-cov = "*"

[requires]
python_version = "3.6"
